* {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.ant-modal-content {
  border-radius: 9px !important;
}
.ant-modal-body {
  padding: 0px !important;
  border-radius: 9px;
}
.register-wrapper {
  display: flex;
  height: 600px;
  max-height: 600px;
}

.register-left {
  position: relative;
  /* background: url('https://imgs.search.brave.com/dpi_T-T39DsnrM1HK2yRSDiRP99Wd8D9JUYtM1pcfp0/rs:fit:900:600:1/g:ce/aHR0cDovL2ZpdHNt/YWxsYnVzaW5lc3Mu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDE3LzA2LzE1LU9u/bGluZS1TaG9wcGlu/Zy1TdGF0aXN0aWNz/LUZ0cmQzMi5qcGc')
    no-repeat center; */
  width: 45%;
  height: 100%;
  opacity: 0.85;
}
.image {
  height: 100%;
  width: 100%;
}
.image > img{
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}
.image::before {
  content: '';
  z-index: 999;
  position: absolute;
  width: 100%;
  opacity: 0.2;
  height: 100%;
  box-shadow: 0 0 250px #040202 inset !important;
  background: rgb(45 129 149 / 72%);
}
.register-left-wrapper{
  position: absolute;
  top: 60px;
  right: 135px;
}
h3.title-register,
.text-register {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-top: 50%;
}
p.text-register {
  font-size: 11px;
  margin: 0;
  font-weight: 400;
}
.register-right {
  padding: 20px 40px 20px 40px;
  width: 55%;
  /* text-align: center; */
}
.form-title-item {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}
.form-title > p {
  text-align: center;
  color: yellowgreen;
  font-size: 13px;
}
.form-input, .ant-select-selector {
  border: none !important;
  border-bottom: 1px solid chartreuse !important;
}
.btn-sms{
  background-color: #98eb4c63 !important;
    border-radius: 20px !important;
    color: #1a7819 !important;
}
.btn-back, .btn-submit{
  border-radius: 20px !important;
  width: 120px;
}
.btn-back{
  background-color: white !important;
  color: #1a7819 !important;
}
.btn-submit{
  color: white !important;
  background-color: #1a7819 !important;
}

.ant-space.ant-space-horizontal.ant-space-align-center.space {
  float: right;
}